.button {
  width: 118px;
  height: 32px;
  background: linear-gradient(93.88deg, #2f98cf 51.56%, #2fcfb2 100%);
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.25);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
