.wrapper {
  background: #373f48;
  border-radius: 5px;
  margin-top: 40px;
  padding: 0 20px 5px 20px;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding-top: 15px;
  font-weight: 500;
  border-bottom: 2px solid #42484f;
  padding-bottom: 10px;
}

.inputs {
  margin-top: 10px;
}
